*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: lightcyan;
    height: 5vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 600;
    text-transform:capitalize;
    font-size: 1.25em;
    font-family: Arial;
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    height: 75vh;
    background-image: url("david-grandmougin-jG-8EYxSra4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center 72.5%;
    color: white;
    text-align: center;
}


header button{
    display: inline-block;
    min-width: 5%;
    padding: .25em 2em;
    font-size: 1.1em;
    background: #6a8;
    color: white;
    border: none;
    border-radius: 5px;
}

p.message{
    max-height:0;
    transition: max-height .5s linear, padding .25s .225s linear;
    overflow: hidden;
    margin: 1vh auto;
    width: 99%;
    font-size: 1.1em;
}

p.message span{
    background-color: rgb(70, 70, 255);
    padding: .2em;
    font-family:'Trebuchet MS';
    color: white;
    min-width: 5vw;
    text-align: center;
    display: inline-block;
}

p.test{
    max-height: 5vh !important;
    background-color: rgb(255, 136, 0);
    padding: .5em;
}

